@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: 'Montserrat Alternates', sans-serif;
}

body.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
  z-index: 20;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  padding: 184px 10px 20px 10px;
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.header__list li {
  list-style: none;
}

.header__link {
  color: #6C757D;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.header__link:hover {
  color: #6C757D;
}

.header__logo {
  position: relative;
  z-index: 30;
}

.header__logo, .header__logo span {
  text-decoration: none;
  color: #000;
}

.header__logo span {
  margin-left: 8px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #FD9F38;
}

.header__burger {
  display: block;
  position: relative;
  width: 26px;
  height: 20px;
  z-index: 30;
}

.header__burger span {
  position: absolute;
  background-color: #FD9F38;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  top: 8px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #FD9F38;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.slider {
  margin-top: 100px;
}
