@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  height: auto;
}

@media (min-width: 575.98px) {
  body::-webkit-scrollbar {
    width: 8px;
    background-color: #FD9F38;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: -webkit-gradient(linear, left top, right top, from(#FD9F38), to(#FD9F38));
    background: linear-gradient(left, #FD9F38, #FD9F38);
  }
  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    -webkit-box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
  }
}

.breadcrumb {
  padding-top: 16px;
  margin-bottom: 17px;
}

@media (max-width: 575.98px) {
  .breadcrumb {
    margin-bottom: 23px;
  }
}

.breadcrumb-item {
  color: #68717A;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
  padding-left: 7px;
  padding-right: 16px;
  color: #CED4DA;
}

.breadcrumb-item a {
  color: #FD9F38;
}

.breadcrumb-item a:hover {
  color: #FD9F38;
}

@media (min-width: 575.98px) {
  .header__menu::-webkit-scrollbar {
    width: 8px;
    background-color: #FD9F38;
  }
  .header__menu::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: -webkit-gradient(linear, left top, right top, from(#FD9F38), to(#FD9F38));
    background: linear-gradient(left, #FD9F38, #FD9F38);
  }
  .header__menu::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    -webkit-box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
  }
}

body.lock {
  overflow: hidden;
}

.wrapper {
  margin-top: 104px;
}

@media (max-width: 575.98px) {
  .wrapper {
    margin-top: 92px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1150px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  z-index: 20;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .header__body {
    height: 60px;
  }
}

.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  padding: 184px 10px 20px 10px;
}

@media (max-width: 991.98px) {
  .header__menu {
    padding: 136px 10px 20px 10px;
  }
}

@media (max-width: 575.98px) {
  .header__menu {
    padding: 124px 10px 20px 10px;
  }
}

.header__menu.active {
  top: 0;
}

.header__green-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .header__green-blue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__pink-purple-yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__green-block,
.header__blue-block,
.header__pink-block,
.header__purple-block,
.header__yellow-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__green-block {
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
}

.header__list {
  display: block;
  padding-bottom: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  width: 168px;
}

.header__list-green,
.header__list-blue,
.header__list-pink,
.header__list-purple,
.header__list-yellow {
  position: relative;
  z-index: 80;
}

.header__menu-green,
.header__menu-blue,
.header__menu-pink,
.header__menu-purple,
.header__menu-yellow {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #3FBEAC;
}

.header__menu-green {
  color: #3FBEAC;
}

.header__menu-blue {
  color: #1FB2E4;
}

.header__menu-pink {
  color: #F9879F;
}

.header__menu-purple {
  color: #BBA4E2;
}

.header__menu-yellow {
  color: #FCC50D;
}

.header__link-img {
  position: absolute;
  width: 96px;
  height: 96px;
  z-index: 70;
}

.header__link-img img {
  width: 100%;
  height: 100%;
}

.header__list-green .header__link-img {
  top: -47px;
  left: -41px;
}

.header__list-blue .header__link-img {
  top: -38px;
  left: -42px;
}

.header__list-pink .header__link-img {
  top: -34px;
  left: -45px;
}

.header__list-purple .header__link-img {
  top: -32px;
  left: -48px;
}

.header__list-yellow .header__link-img {
  top: -52px;
  left: -48px;
}

.header__list li:not(:last-child) {
  list-style: none;
  margin-bottom: 16px;
}

.header__list li:hover .header__link {
  color: #152536;
}

.header__link {
  display: inline-block;
  width: 100%;
  color: #6C757D;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #6C757D;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header__link:hover {
  color: #152536;
}

.act {
  font-weight: 900;
}

.header__logo {
  position: relative;
  z-index: 30;
}

.header__logo .header__logo-number {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0px;
}

@media (max-width: 575.98px) {
  .header__logo img {
    width: 36px;
    height: 36px;
  }
}

.header__logo, .header__logo span {
  text-decoration: none;
  color: #000;
}

.header__logo span {
  margin-left: 8px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #FD9F38;
}

@media (max-width: 575.98px) {
  .header__logo span {
    font-size: 12px;
    line-height: 15px;
    margin-left: 6px;
  }
}

.header__burger {
  display: block;
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 20px;
  z-index: 30;
}

.header__site-menu {
  position: relative;
  cursor: pointer;
  padding-right: 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FD9F38;
  z-index: 30;
}

@media (max-width: 575.98px) {
  .header__site-menu {
    display: none;
  }
}

.header__burger span {
  position: absolute;
  background-color: #FD9F38;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  top: 8px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #FD9F38;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.banner__slider {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.banner__slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 64px;
  width: 64px;
  font-size: 0;
  border-radius: 50%;
  z-index: 100;
  background: rgba(84, 89, 94, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner__slider:hover .slick-arrow {
  opacity: 1;
}

.banner__slider:hover .slick-arrow.slick__banner-prev {
  left: 0px;
}

.banner__slider:hover .slick-arrow.slick__banner-next {
  right: 0px;
}

.banner .slick-arrow.slick__banner-prev {
  left: -80px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.banner .slick-arrow.slick__banner-next {
  right: -80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner__item {
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.banner__item img {
  border-radius: 8px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991.98px) {
  .banner__item {
    max-height: 320px;
  }
}

@media (max-width: 767.98px) {
  .banner__item {
    max-height: 240px;
  }
}

.banner .slick-slide {
  padding: 0 5px;
}

.banner .slick-list {
  overflow: hidden;
  margin: 0 -5px;
}

@media (max-width: 575.98px) {
  .banner {
    display: none;
  }
}

.slick__banner-prev img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 22px;
}

.banner__slider .slick-dots li {
  list-style: none;
  margin: 0px 5px;
}

.banner__slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #54595E;
  border-radius: 50%;
}

.banner__slider .slick-dots li.slick-active button {
  position: relative;
  width: 10px;
  height: 10px;
  margin-bottom: -1px;
  background-color: #FD9F38;
}

.reception {
  padding-top: 40px;
}

@media (max-width: 991.98px) {
  .reception {
    padding-top: 32px;
  }
}

@media (max-width: 575.98px) {
  .reception {
    padding-top: 0;
  }
}

@media (max-width: 991.98px) {
  .reception .container {
    max-width: 704px;
  }
}

@media (max-width: 767.98px) {
  .reception .container {
    max-width: 524px;
  }
}

@media (max-width: 575.98px) {
  .reception .container {
    width: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
  }
}

.reception__card-first {
  margin-bottom: 32px;
}

@media (max-width: 991.98px) {
  .reception__card {
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 575.98px) {
  .reception__card {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 136px;
  }
}

.reception .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  border: 2px solid #FD9F38;
  background-image: url("../img/giraffe.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
}

@media (max-width: 991.98px) {
  .reception .sign-up {
    padding: 26px 16px;
    margin-bottom: 0;
    background-color: #FD9F38;
    background-image: url("../img/giraffe-white.svg");
    background-position: right;
  }
}

@media (max-width: 575.98px) {
  .reception .sign-up {
    padding: 16px 24px;
  }
}

.reception .sign-up:hover {
  background-color: #FD9F38;
  background-image: url("../img/giraffe-white.svg");
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.reception .sign-up:hover * {
  color: white;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.reception .sign-up__title {
  margin-top: 31px;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #FD9F38;
}

@media (max-width: 991.98px) {
  .reception .sign-up__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    color: white;
  }
}

@media (max-width: 575.98px) {
  .reception .sign-up__title {
    margin-bottom: 4px;
  }
}

.reception .sign-up__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0 19%;
  text-align: center;
  color: #FD9F38;
}

@media (max-width: 991.98px) {
  .reception .sign-up__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
    padding: 0;
    color: white;
  }
}

.reception .schedule, .reception .pediatrist, .reception .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 26px 16px;
  border-radius: 8px;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.reception .schedule:hover, .reception .pediatrist:hover, .reception .services:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

@media (max-width: 991.98px) {
  .reception .schedule, .reception .pediatrist, .reception .services {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .reception .schedule, .reception .pediatrist, .reception .services {
    padding: 16px 24px;
  }
}

.reception .schedule__details, .reception .pediatrist__details, .reception .services__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {
  .reception .schedule__details, .reception .pediatrist__details, .reception .services__details {
    display: none;
  }
}

.reception .schedule__title, .reception .pediatrist__title, .reception .services__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.reception .schedule__subtitle, .reception .pediatrist__subtitle, .reception .services__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 12px;
}

@media (max-width: 1199.98px) {
  .reception .schedule__subtitle, .reception .pediatrist__subtitle, .reception .services__subtitle {
    margin-bottom: 0;
  }
}

.reception .schedule .details, .reception .pediatrist .details, .reception .services .details {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-right: 8px;
}

.reception .schedule img, .reception .pediatrist img, .reception .services img {
  content: '';
  width: 6px;
  height: 11px;
}

.reception .schedule {
  border: 2px solid #3FBEAC;
  color: #3FBEAC;
  background: url("../img/whale.svg") 100%/contain no-repeat;
}

.reception .schedule img {
  background: url("../img/mini-arrow-green.svg") center no-repeat;
}

@media (max-width: 991.98px) {
  .reception .schedule {
    background-color: #3FBEAC;
    background-image: url("../img/whale-white.svg");
  }
  .reception .schedule * {
    color: white;
  }
}

.reception .schedule:hover {
  background-color: #3FBEAC;
  background-image: url("../img/whale-white.svg");
}

.reception .schedule:hover * {
  color: white;
}

.reception .schedule:hover img {
  background: url("../img/mini-arrow-white.svg") center no-repeat;
}

.reception .pediatrist {
  border: 2px solid #F9879F;
  color: #F9879F;
  background: url("../img/octopus.svg") 100%/contain no-repeat;
}

.reception .pediatrist img {
  background: url("../img/mini-arrow-pink.svg") center no-repeat;
}

@media (max-width: 991.98px) {
  .reception .pediatrist {
    background-color: #F9879F;
    background-image: url("../img/octopus-white.svg");
  }
  .reception .pediatrist * {
    color: white;
  }
}

.reception .pediatrist:hover {
  background-color: #F9879F;
  background-image: url("../img/octopus-white.svg");
}

.reception .pediatrist:hover * {
  color: white;
}

.reception .pediatrist:hover img {
  background: url("../img/mini-arrow-white.svg") center no-repeat;
}

.reception .services {
  border: 2px solid #1FB2E4;
  color: #1FB2E4;
  background: url("../img/dolphin.svg") 100%/contain no-repeat;
}

.reception .services img {
  background: url("../img/mini-arrow-blue.svg") center no-repeat;
}

@media (max-width: 991.98px) {
  .reception .services {
    background-color: #1FB2E4;
    background-image: url("../img/dolphin-white.svg");
  }
  .reception .services * {
    color: white;
  }
}

.reception .services:hover {
  background-color: #1FB2E4;
  background-image: url("../img/dolphin-white.svg");
}

.reception .services:hover * {
  color: white;
}

.reception .services:hover img {
  background: url("../img/mini-arrow-white.svg") center no-repeat;
}

.specialists {
  margin-top: 48px;
}

@media (max-width: 991.98px) {
  .specialists {
    margin-top: 16px;
  }
}

.specialists__header {
  margin-bottom: 19px;
}

.specialists__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #3d4044;
  pointer-events: none;
}

.specialists__title a {
  color: #152536;
}

.specialists__title a:hover {
  color: #152536;
}

@media (max-width: 991.98px) {
  .specialists__title {
    pointer-events: auto;
    color: #3d4044;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3d4044), to(#3d4044));
    background-image: linear-gradient(#3d4044, #3d4044);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    -webkit-transition: background-size .3s;
    transition: background-size .3s;
  }
  .specialists__title:hover {
    color: #3d4044;
    background-size: 100% 1px;
  }
}

.specialists__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3FBEAC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3FBEAC), to(#3FBEAC));
  background-image: linear-gradient(#3FBEAC, #3FBEAC);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.specialists__subtitle:hover {
  color: #3FBEAC;
  background-size: 100% 1px;
}

@media (max-width: 991.98px) {
  .specialists__subtitle {
    display: none;
  }
}

.specialists__slider {
  position: relative;
  overflow: hidden;
}

.specialists__slider .slick-list {
  overflow: hidden;
}

.specialists__slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 64px;
  width: 64px;
  font-size: 0;
  border-radius: 50%;
  z-index: 100;
  background: rgba(84, 89, 94, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.specialists__slider .slick-arrow.slick__banner-prev {
  left: -80px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.specialists__slider .slick-arrow.slick__banner-next {
  right: -80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.specialists__slider:hover .slick-arrow {
  opacity: 1;
}

.specialists__slider:hover .slick-arrow.slick__banner-prev {
  left: 0px;
}

.specialists__slider:hover .slick-arrow.slick__banner-next {
  right: 0px;
}

.specialists__item {
  margin: 0 12px;
  height: 300px;
  width: 225px;
}

.specialists__item img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.specialists__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 94px;
  padding: 10px;
  background: rgba(21, 37, 54, 0.5);
  border-radius: 8px;
  z-index: 40;
}

.specialists__name {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 4px;
  color: white;
}

.specialists__post {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: white;
}

.about {
  padding-top: 48px;
}

.about__header {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #152536;
}

.about__content {
  margin-top: 19px;
}

.about__photo {
  overflow: hidden;
  border-radius: 8px;
}

.about__photo img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 991.98px) {
  .about__photo img {
    height: 300px;
  }
}

@media (max-width: 575.98px) {
  .about__photo img {
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .about__text {
    margin-top: 20px;
  }
}

.about__title, .about__subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #152536;
}

@media (max-width: 575.98px) {
  .about__title, .about__subtitle {
    font-size: 14px;
    line-height: 15px;
  }
}

.about__title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
}

.about__subtitle {
  font-weight: normal;
}

@media (max-width: 991.98px) {
  .about {
    padding-top: 32px;
  }
}

.headphys {
  margin-top: 48px;
  padding: 64px 0;
  background-color: #FD9F38;
}

.headphys__photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.headphys__photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .headphys__photo {
    width: 150px;
    height: 150px;
  }
}

.headphys__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #FFFFFF;
}

@media (max-width: 575.98px) {
  .headphys__title {
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
  }
}

.headphys__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 0;
  color: #FFFFFF;
}

@media (max-width: 575.98px) {
  .headphys__subtitle {
    text-align: center;
    padding: 0 5px;
  }
}

.headphys__button {
  margin-top: 32px;
  padding: 14px 36px;
  color: #BBA4E2;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  background: white;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.headphys__button:hover {
  color: #BBA4E2;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

@media (max-width: 767.98px) {
  .headphys__button {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 575.98px) {
  .headphys__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 364px) {
  .headphys__button {
    width: 200px;
    padding: 12px 36px;
    border-radius: 30px;
  }
}

@media (max-width: 575.98px) {
  .headphys {
    padding: 32px 0;
  }
}

.healthlinks {
  padding-top: 46px;
  padding-bottom: 30px;
  background: #E9ECEF;
}

@media (max-width: 575.98px) {
  .healthlinks {
    padding-top: 16px;
    padding-bottom: 0;
  }
}

.healthlinks__slider {
  position: relative;
  overflow: hidden;
}

.healthlinks__slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 64px;
  width: 64px;
  font-size: 0;
  border-radius: 50%;
  z-index: 100;
  background: rgba(84, 89, 94, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.healthlinks__slider .slick-arrow.slick__banner-prev {
  left: -80px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.healthlinks__slider .slick-arrow.slick__banner-next {
  right: -80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.healthlinks__slider:hover .slick-arrow {
  opacity: 1;
}

.healthlinks__slider:hover .slick-arrow.slick__banner-prev {
  left: 0px;
}

.healthlinks__slider:hover .slick-arrow.slick__banner-next {
  right: 0px;
}

.healthlinks__item img {
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
}

.healthlinks .slick-slide {
  margin: 0 16px;
}

@media (max-width: 575.98px) {
  .healthlinks .slick-slide {
    margin: 0 8px;
  }
}

.healthlinks .ministry {
  margin-top: 32px;
  margin-left: -15px;
  margin-right: -15px;
}

.healthlinks .ministry__link {
  position: relative;
  width: 160px;
  height: 160px;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.healthlinks .ministry__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (min-width: 992px) {
  .healthlinks .ministry__link:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 1199.98px) {
  .healthlinks .ministry__link {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 991.98px) {
  .healthlinks .ministry__link {
    margin-bottom: 16px;
    height: 168px;
  }
}

@media (max-width: 767.98px) {
  .healthlinks .ministry__link {
    height: auto;
  }
}

@media (max-width: 575.98px) {
  .healthlinks .ministry__link {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 8px;
  }
}

.healthlinks .ministry__link-hover {
  position: absolute;
  top: 0;
}

@media (max-width: 991.98px) {
  .healthlinks .ministry {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (max-width: 575.98px) {
  .healthlinks .ministry {
    margin-left: -4px;
    margin-right: -4px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 116px;
  background: #E9ECEF;
}

@media (max-width: 1199.98px) {
  .footer {
    padding-bottom: 64px;
  }
}

@media (max-width: 575.98px) {
  .footer {
    padding-top: 32px;
  }
}

.footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199.98px) {
  .footer__map {
    display: none;
  }
}

.footer__gbu-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 32px;
}

@media (max-width: 350px) {
  .footer__gbu-title {
    font-size: 15px;
  }
}

.footer__gbu-address, .footer__gbu-number, .footer__gbu-email {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #495057;
}

.footer__gbu-address:hover, .footer__gbu-number:hover, .footer__gbu-email:hover {
  color: #495057;
}

.footer__gbu-address {
  margin-bottom: 12px;
}

.footer__gbu-number {
  margin-bottom: 12px;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.footer__media a:not(:last-child) {
  margin-right: 16px;
}

.footer__links {
  margin-right: 40px;
}

.footer__headlink {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 16px;
}

.footer__headlink-services {
  margin-top: 48px;
}

.footer__p-link {
  margin-bottom: 12px;
}

.footer__p-link:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #495057;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#495057), to(#495057));
  background-image: linear-gradient(#495057, #495057);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.footer__link:hover {
  color: #495057;
  background-size: 100% 1px;
}

.main-titles {
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .main-titles {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .main-titles {
    font-size: 27px;
    line-height: 33px;
  }
}

.page-about {
  padding-bottom: 128px;
}

.page-about__photo {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 48px;
}

.page-about__photo img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 1199.98px) {
  .page-about__photo img {
    height: 500px;
  }
}

@media (max-width: 991.98px) {
  .page-about__photo img {
    height: 300px;
  }
}

@media (max-width: 575.98px) {
  .page-about__photo img {
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .page-about__photo {
    margin-bottom: 30px;
  }
}

@media (max-width: 575.98px) {
  .page-about__photo {
    margin-bottom: 20px;
  }
}

.page-about__subtitle, .page-about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #152536;
}

@media (max-width: 575.98px) {
  .page-about__subtitle, .page-about__text {
    font-size: 12px;
    line-height: 15px;
  }
}

.page-about__subtitle {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .page-about {
    padding-bottom: 64px;
  }
}

.page-structure {
  margin-bottom: 128px;
}

@media (max-width: 1199.98px) {
  .page-structure {
    margin-bottom: 64px;
  }
}

.page-structure__block {
  margin-top: 12px;
}

@media (max-width: 575.98px) {
  .page-structure__block {
    margin-top: 8px;
  }
}

.page-structure__xl, .page-structure__md, .page-structure__sm {
  width: 100%;
  height: auto;
}

@media (max-width: 991.98px) {
  .page-structure__xl {
    display: none;
  }
}

.page-structure__md {
  display: none;
}

@media (max-width: 991.98px) {
  .page-structure__md {
    display: block;
    max-width: 510px;
  }
}

@media (max-width: 575.98px) {
  .page-structure__md {
    display: none;
  }
}

.page-structure__sm {
  display: none;
}

@media (max-width: 575.98px) {
  .page-structure__sm {
    display: block;
    max-width: 280px;
  }
}

.page-headphys {
  padding-bottom: 64px;
}

.page-headphys .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-headphys__photo img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 575.98px) {
  .page-headphys__photo img {
    max-width: 300px;
  }
}

@media (max-width: 575.98px) {
  .page-headphys__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-headphys__info {
  padding-left: 48px;
}

@media (max-width: 991.98px) {
  .page-headphys__info {
    padding-left: 20px;
  }
}

@media (max-width: 767.98px) {
  .page-headphys__info {
    padding-left: 15px;
  }
}

.page-headphys__name {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #152536;
}

@media (max-width: 575.98px) {
  .page-headphys__name {
    margin-top: 24px;
    font-size: 24px;
    line-height: 29px;
  }
}

.page-headphys__doctor {
  font-size: 16px;
  line-height: 19.5px;
  color: #68717A;
}

.page-headphys__title {
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 991.98px) {
  .page-headphys__title {
    margin-top: 24px;
  }
}

.page-headphys__subtitle {
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.page-headphys__subtitle p {
  margin-top: 10px;
  margin-bottom: 0;
}

.page-headphys .page-headphys__second {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 575.98px) {
  .page-headphys .page-headphys__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page-headphys__schedule {
  margin-top: 64px;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 575.98px) {
  .page-headphys__days {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-headphys__days-day {
  text-align: center;
  margin-bottom: 0;
  padding: 5px 16px 16px;
  border-bottom: 1px solid #CED4DA;
  border-right: 1px solid #CED4DA;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

@media (max-width: 575.98px) {
  .page-headphys__days-day {
    width: 50%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    padding-left: 5px;
  }
}

.page-headphys__days-time {
  text-align: center;
  padding: 16px 16px 5px;
  border-right: 1px solid #CED4DA;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 767.98px) {
  .page-headphys__days-time {
    padding: 16px 8px 5px;
  }
}

@media (max-width: 575.98px) {
  .page-headphys__days-time {
    width: 50%;
    text-align: start;
    border-right: none;
    border-bottom: 1px solid #CED4DA;
    margin-bottom: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
  }
}

@media (max-width: 1199.98px) and (min-width: 576px) {
  .page-headphys__days .day-desk {
    display: none;
  }
}

.page-headphys__days .day-tablet {
  display: none;
}

@media (max-width: 1199.98px) and (min-width: 576px) {
  .page-headphys__days .day-tablet {
    display: block;
  }
}

.page-headphys__days:last-child .page-headphys__days-day,
.page-headphys__days:last-child .page-headphys__days-time {
  border-right: none;
}

@media (max-width: 575.98px) {
  .page-headphys__days:last-child .page-headphys__days-day,
  .page-headphys__days:last-child .page-headphys__days-time {
    border-bottom: none;
  }
}

@media (max-width: 575.98px) {
  .page-headphys__days:last-child .page-headphys__days-day {
    border-right: 1px solid #CED4DA;
  }
}

.page-headphys__apply-title {
  margin-top: 64px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0;
  color: #152536;
}

.page-headphys__form {
  margin-top: 27px;
}

.page-headphys__form-name, .page-headphys__form-email, .page-headphys__form-text {
  border-radius: 8px;
  border: 1px solid #152536;
}

.page-headphys__form-name {
  height: 36px;
}

.page-headphys__form-email {
  margin-top: 24px;
  height: 36px;
}

.page-headphys__form-text {
  margin-top: 24px;
  min-height: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 575.98px) {
  .page-headphys__form-text {
    min-height: 180px;
  }
}

.page-headphys__form-submit, .page-headphys__form .orange-button {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 160px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: #FD9F38;
  border-radius: 8px;
}

.page-headphys__consent {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 48px;
}

.page-headphys__consent a {
  color: #152536;
  text-decoration: underline;
}

.page-headphys__consent a:hover {
  color: #152536;
}

.page-licenses {
  padding-bottom: 128px;
}

.page-licenses .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-licenses .row {
  max-width: calc(100% + 15px);
}

.page-licenses__item {
  margin-bottom: 32px;
  background-color: transparent;
}

@media (max-width: 767.98px) {
  .page-licenses__item {
    padding: 0 8px;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .page-licenses__item {
    padding: 0 4px;
    margin-bottom: 8px;
  }
}

.page-licenses__item img {
  width: 100%;
  height: auto;
}

@media (max-width: 1199.98px) {
  .page-licenses {
    padding-bottom: 64px;
  }
}
