@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  height: auto;
}

.wrapper {
  margin-top: 104px;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1150px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  z-index: 20;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  padding: 184px 10px 20px 10px;
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.header__list li {
  list-style: none;
}

.header__link {
  color: #6C757D;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.header__link:hover {
  color: #6C757D;
}

.header__logo {
  position: relative;
  z-index: 30;
}

.header__logo, .header__logo span {
  text-decoration: none;
  color: #000;
}

.header__logo span {
  margin-left: 8px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #FD9F38;
}

.header__burger {
  display: block;
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 20px;
  z-index: 30;
}

.header__site-menu {
  position: relative;
  cursor: pointer;
  margin-right: 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FD9F38;
  z-index: 30;
}

@media (max-width: 575.98px) {
  .header__site-menu {
    display: none;
  }
}

.header__burger span {
  position: absolute;
  background-color: #FD9F38;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  top: 8px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #FD9F38;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 575.98px) {
  .banner {
    display: none;
  }
}

.banner__slider {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.banner__item img {
  width: 100%;
  border-radius: 8px;
}

.banner__slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 64px;
  width: 64px;
  font-size: 0;
  border-radius: 50%;
  z-index: 100;
  background: rgba(84, 89, 94, 0.5);
}

@media (max-width: 991.98px) {
  .banner__slider .slick-arrow {
    display: none;
  }
}

.banner__slider .slick-arrow.slick__banner-prev {
  left: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.banner__slider .slick-arrow.slick__banner-next {
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick__banner-prev img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 22px;
}

.banner__slider .slick-dots li {
  list-style: none;
  margin: 0px 4px;
}

.banner__slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #54595E;
  border-radius: 50%;
}

.banner__slider .slick-dots li.slick-active button {
  -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 135, 0, 0.4);
          box-shadow: 0px 0px 3px 2px rgba(255, 135, 0, 0.4);
  background-color: #FD9F38;
}

.reception {
  margin-top: 40px;
}

@media (max-width: 991.98px) {
  .reception .container {
    max-width: 704px;
  }
}

@media (max-width: 767.98px) {
  .reception .container {
    max-width: 524px;
  }
}

@media (max-width: 575.98px) {
  .reception .container {
    width: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
  }
}

.reception__card-first {
  margin-bottom: 32px;
}

@media (max-width: 991.98px) {
  .reception__card {
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 575.98px) {
  .reception__card {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 132px;
  }
}

.reception .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  border: 2px solid #FD9F38;
  background-image: url("../img/giraffe.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
}

@media (max-width: 991.98px) {
  .reception .sign-up {
    padding: 26px 16px;
    margin-bottom: 0;
    background-color: #FD9F38;
    background-image: url("../img/giraffe-white.svg");
  }
}

@media (max-width: 575.98px) {
  .reception .sign-up {
    padding: 16px 24px;
  }
}

.reception .sign-up:hover {
  background-color: #FD9F38;
  background-image: url("../img/giraffe-white.svg");
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.reception .sign-up:hover * {
  color: white;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.reception .sign-up__title {
  margin-top: 31px;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #FD9F38;
}

@media (max-width: 991.98px) {
  .reception .sign-up__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    color: white;
  }
}

.reception .sign-up__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0 19%;
  text-align: center;
  color: #FD9F38;
}

@media (max-width: 991.98px) {
  .reception .sign-up__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
    padding: 0;
    color: white;
  }
}

.reception .schedule, .reception .pediatrist, .reception .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 26px 16px;
  border-radius: 8px;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.reception .schedule:hover, .reception .pediatrist:hover, .reception .services:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

@media (max-width: 991.98px) {
  .reception .schedule, .reception .pediatrist, .reception .services {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .reception .schedule, .reception .pediatrist, .reception .services {
    padding: 16px 24px;
  }
}

.reception .schedule__details, .reception .pediatrist__details, .reception .services__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {
  .reception .schedule__details, .reception .pediatrist__details, .reception .services__details {
    display: none;
  }
}

.reception .schedule__title, .reception .pediatrist__title, .reception .services__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.reception .schedule__subtitle, .reception .pediatrist__subtitle, .reception .services__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 12px;
}

@media (max-width: 1199.98px) {
  .reception .schedule__subtitle, .reception .pediatrist__subtitle, .reception .services__subtitle {
    margin-bottom: 0;
  }
}

.reception .schedule .details, .reception .pediatrist .details, .reception .services .details {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-right: 8px;
}

.reception .schedule img, .reception .pediatrist img, .reception .services img {
  content: '';
  width: 6px;
  height: 11px;
}

.reception .schedule {
  border: 2px solid #3FBEAC;
  color: #3FBEAC;
  background: url("../img/whale.svg") 100%/contain no-repeat;
}

.reception .schedule img {
  background: url("../img/mini-arrow-green.svg") center no-repeat;
}

@media (max-width: 991.98px) {
  .reception .schedule {
    background-color: #3FBEAC;
    background-image: url("../img/whale-white.svg");
  }
  .reception .schedule * {
    color: white;
  }
}

.reception .schedule:hover {
  background-color: #3FBEAC;
  background-image: url("../img/whale-white.svg");
}

.reception .schedule:hover * {
  color: white;
}

.reception .schedule:hover img {
  background: url("../img/mini-arrow-white.svg") center no-repeat;
}

.reception .pediatrist {
  border: 2px solid #F9879F;
  color: #F9879F;
  background: url("../img/octopus.svg") 100%/contain no-repeat;
}

.reception .pediatrist img {
  background: url("../img/mini-arrow-pink.svg") center no-repeat;
}

@media (max-width: 991.98px) {
  .reception .pediatrist {
    background-color: #F9879F;
    background-image: url("../img/whale-white.svg");
  }
  .reception .pediatrist * {
    color: white;
  }
}

.reception .pediatrist:hover {
  background-color: #F9879F;
  background-image: url("../img/octopus-white.svg");
}

.reception .pediatrist:hover * {
  color: white;
}

.reception .pediatrist:hover img {
  background: url("../img/mini-arrow-white.svg") center no-repeat;
}

.reception .services {
  border: 2px solid #1FB2E4;
  color: #1FB2E4;
  background: url("../img/dolphin.svg") 100%/contain no-repeat;
}

.reception .services img {
  background: url("../img/mini-arrow-blue.svg") center no-repeat;
}

@media (max-width: 991.98px) {
  .reception .services {
    background-color: #1FB2E4;
    background-image: url("../img/whale-white.svg");
  }
  .reception .services * {
    color: white;
  }
}

.reception .services:hover {
  background-color: #1FB2E4;
  background-image: url("../img/dolphin-white.svg");
}

.reception .services:hover * {
  color: white;
}

.reception .services:hover img {
  background: url("../img/mini-arrow-white.svg") center no-repeat;
}

.specialists {
  margin-top: 48px;
}

.specialists__header {
  margin-bottom: 19px;
}

.specialists__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #152536;
}

.specialists__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3FBEAC;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.specialists__subtitle:hover {
  color: #3FBEAC;
  background-size: 100% 1px;
}

.specialists__slider {
  position: relative;
}

.specialists__slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 64px;
  width: 64px;
  font-size: 0;
  border-radius: 50%;
  z-index: 100;
  background: rgba(84, 89, 94, 0.5);
}

@media (max-width: 991.98px) {
  .specialists__slider .slick-arrow {
    display: none;
  }
}

.specialists__slider .slick-arrow.slick__banner-prev {
  left: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.specialists__slider .slick-arrow.slick__banner-next {
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.specialists__item {
  margin: 0 12px;
  height: 256px;
  width: 192px;
}

.specialists__item img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__header {
  margin-top: 48px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #152536;
}

.about__content {
  margin-top: 19px;
}

.about__photo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about__title, .about__subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #152536;
}

.about__subtitle {
  font-weight: normal;
}

.headphys {
  margin-top: 48px;
  padding: 64px 0;
  background-color: #FD9F38;
}

.headphys__photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.headphys__photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.headphys__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 19px;
  margin-bottom: 8px;
  color: #FFFFFF;
}

.headphys__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  color: #FFFFFF;
}

.headphys__button {
  margin-top: 32px;
  padding: 14px 36px;
  color: #BBA4E2;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  background: white;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.headphys__button:hover {
  color: #BBA4E2;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.healthlinks {
  padding-top: 46px;
  padding-bottom: 30px;
  background: #E9ECEF;
}

.healthlinks .slick-slide {
  margin: 0 16px;
}

.healthlinks__slider {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.healthlinks__item img {
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.15);
          box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.15);
}

.healthlinks__slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 64px;
  width: 64px;
  font-size: 0;
  border-radius: 50%;
  z-index: 100;
  background: rgba(84, 89, 94, 0.5);
}

@media (max-width: 991.98px) {
  .healthlinks__slider .slick-arrow {
    display: none;
  }
}

.healthlinks__slider .slick-arrow.slick__banner-prev {
  left: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.healthlinks__slider .slick-arrow.slick__banner-next {
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.healthlinks .ministry {
  margin-top: 32px;
  margin-left: -15px;
  margin-right: -15px;
}

.healthlinks .ministry__link {
  padding-left: 16px;
  padding-right: 16px;
  height: 160px;
  width: auto;
}

.healthlinks .ministry__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.15);
          box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.15);
}

.footer {
  padding-top: 60px;
  padding-bottom: 116px;
  background: #E9ECEF;
}

.footer__gbu-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 32px;
}

.footer__gbu-address, .footer__gbu-number, .footer__gbu-email {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #495057;
}

.footer__gbu-address:hover, .footer__gbu-number:hover, .footer__gbu-email:hover {
  color: #495057;
}

.footer__gbu-address {
  margin-bottom: 12px;
}

.footer__gbu-number {
  margin-bottom: 12px;
}

.footer__links {
  margin-right: 40px;
}

.footer__headlink {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #495057;
  margin-bottom: 16px;
}

.footer__headlink-services {
  margin-top: 48px;
}

.footer__p-link {
  margin-bottom: 12px;
}

.footer__p-link:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #495057;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.footer__link:hover {
  color: #495057;
  background-size: 100% 1px;
}
