@import "nullstyle.scss";
@import "fonts.scss";
$linkColor: #000;

// ----------- header styles
html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  height: auto;
}

@media (min-width: 575.98px) {
  body::-webkit-scrollbar {
    width: 8px;
    background-color: #FD9F38;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: linear-gradient(left, #FD9F38, #FD9F38);
  }
  body::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
  }
}

.breadcrumb {
  padding-top: 16px;
  margin-bottom: 17px;

  @media (max-width: 575.98px) {
    margin-bottom: 23px;
  }
}

.breadcrumb-item {
  color: #68717A;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "|";
  padding-left: 7px;
  padding-right: 16px;
  color: #CED4DA;
}

.breadcrumb-item a {
  color: #FD9F38;

  &:hover {
    color: #FD9F38;
  }
}

@media (min-width: 575.98px) {
  .header__menu::-webkit-scrollbar {
    width: 8px;
    background-color: #FD9F38;
  }
  .header__menu::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: linear-gradient(left, #FD9F38, #FD9F38);
  }
  .header__menu::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
  }
}

body.lock {
  overflow: hidden;
}

.wrapper {
  margin-top: 104px;

  @media (max-width: 575.98px) {
    margin-top: 92px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1150px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
}

.header::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  z-index: 20;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;

  @media (max-width: 575.98px) {
    height: 60px;
  }
}

.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all .3s ease 0s;
  padding: 184px 10px 20px 10px;

  @media (max-width: 991.98px) {
    padding: 136px 10px 20px 10px;
  }

  @media (max-width: 575.98px) {
    padding: 124px 10px 20px 10px;
  }
}

.header__menu.active {
  top: 0;
}

.header__green-blue {
  display: flex;

  @media (max-width: 991.98px) {
    flex-direction: column;
    align-items: center;
  }
}
.header__pink-purple-yellow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__green-block,
.header__blue-block,
.header__pink-block,
.header__purple-block,
.header__yellow-block {
  display: flex;
  justify-content: center;
}

.header__green-block {
  align-self: initial;
}

.header__list {
  display: block;
  padding-bottom: 64px;
  align-items: center;
  margin-bottom: 0;
  width: 168px;
}

.header__list-green,
.header__list-blue,
.header__list-pink,
.header__list-purple,
.header__list-yellow {
  position: relative;
  z-index: 80;
}

.header__menu-green,
.header__menu-blue,
.header__menu-pink,
.header__menu-purple,
.header__menu-yellow {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #3FBEAC;
}

.header__menu-green {color: #3FBEAC;}
.header__menu-blue {color: #1FB2E4;}
.header__menu-pink {color: #F9879F;}
.header__menu-purple {color: #BBA4E2;}
.header__menu-yellow {color: #FCC50D;}

.header__link-img {
  position: absolute;
  width: 96px;
  height: 96px;
  z-index: 70;

  img {
    width: 100%;
    height: 100%;
  }
}

.header__list-green .header__link-img {top: -47px;left: -41px;}
.header__list-blue .header__link-img {top: -38px;left: -42px;}
.header__list-pink .header__link-img {top: -34px;left: -45px;}
.header__list-purple .header__link-img {top: -32px;left: -48px;}
.header__list-yellow .header__link-img {top: -52px;left: -48px;}

.header__list li:not(:last-child) {
  list-style: none;
  margin-bottom: 16px;
}
.header__list li {

  &:hover {
    .header__link {
      color: #152536;
    }
  }
}
.header__link {
  display: inline-block;
  width: 100%;
  color: #6C757D;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #6C757D;
  transition: all .2s ease;

  &:hover {
    color: #152536;
  }
}

.act {
  font-weight: 900;
}

.header__logo {
  position: relative;
  z-index: 30;

  .header__logo-number {
    font-family: 'Montserrat', sans-serif;
    margin-left: 0px;
  }

  @media (max-width: 575.98px) {
    img {
      width: 36px;
      height: 36px;
    }
  }
}
.header__logo, .header__logo span {
  text-decoration: none;
  color: $linkColor;
}
.header__logo span {
  margin-left: 8px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #FD9F38;

  @media (max-width: 575.98px) {
    font-size: 12px;
    line-height: 15px;
    margin-left: 6px;
  }
}
.header__burger {
  display: block;
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 20px;
  z-index: 30;
}
.header__site-menu {
  position: relative;
  cursor: pointer;
  padding-right: 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FD9F38;
  z-index: 30;
  
  @media (max-width: 575.98px) {
    display: none;
  }
}
.header__burger span {
  position: absolute;
  background-color: #FD9F38;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  top: 8px;
  transition: all .3s ease 0s;
}
.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #FD9F38;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  transition: all .3s ease 0s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 8px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 8px;
}
.header__burger.active span {
  transform: scale(0);
}

// --------------- slider styles
.banner {
  &__slider {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    .slick-arrow {
      position: absolute;
      top: 50%;
      height: 64px;
      width: 64px;
      font-size: 0;
      border-radius: 50%;
      z-index: 100;
      background: rgba(84, 89, 94, 0.5);
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {
      .slick-arrow {
        opacity: 1;
      }
      .slick-arrow.slick__banner-prev {
        left: 0px;
      }
      .slick-arrow.slick__banner-next {
        right: 0px;
      }
    }
  }

  .slick-arrow.slick__banner-prev {
    left: -80px;
    transform: translate(50%, -50%);
  }
  
  .slick-arrow.slick__banner-next {
    right: -80px;
    transform: translate(-50%, -50%);
  }

  &__item {
    max-height: 400px;
    display: flex;
    overflow: hidden;

    img {
      border-radius: 8px;
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: 991.98px) {
      max-height: 320px;
    }

    @media (max-width: 767.98px) {
      max-height: 240px;
    }
  }

  .slick-slide {
    padding: 0 5px;
  }

  .slick-list {
    overflow: hidden;
    margin: 0 -5px;
  }

  @media (max-width: 575.98px) {
    display: none;
  }
}

.slick__banner-prev img {
  transform: rotate(-180deg);
}

.slick-track {
  display: flex;
}

.banner__slider .slick-dots {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 22px;
}
.banner__slider .slick-dots li {
  list-style: none;
  margin: 0px 5px;
}
.banner__slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #54595E;
  border-radius: 50%;
}
.banner__slider .slick-dots li.slick-active button {
  position: relative;
  width: 10px;
  height: 10px;
  margin-bottom: -1px;
  background-color: #FD9F38;
}

// ---------------- reception style
.reception {
  padding-top: 40px;

  @media (max-width: 991.98px) {
    padding-top: 32px;
  }

  @media (max-width: 575.98px) {
    padding-top: 0;
  }

  .container {
    @media (max-width: 991.98px) {
      max-width: 704px;
    }
    
    @media (max-width: 767.98px) {
      max-width: 524px;
    }

    @media (max-width: 575.98px) {
      width: calc(100% - 16px);
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__card-first {
    margin-bottom: 32px;

  }

  &__card {
    @media (max-width: 991.98px) {
      margin-bottom: 16px;
      padding-left: 8px;
      padding-right: 8px;
    }
    @media (max-width: 575.98px) {
      padding-left: 15px;
      padding-right: 15px;
      min-height: 136px;
    }
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #FD9F38;
    background-image: url('../img/giraffe.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .5s ease;
    height: 100%;

    @media (max-width: 991.98px) {
      padding: 26px 16px;
      margin-bottom: 0;
      background-color: #FD9F38;
      background-image: url('../img/giraffe-white.svg');
      background-position: right;
    }
    
    @media (max-width: 575.98px) {
      padding: 16px 24px;
    }

    &:hover {
      background-color: #FD9F38;
      background-image: url('../img/giraffe-white.svg');
      transition-duration: .5s;

      * {
        color: white;
        transition-duration: .5s;
      }
    }

    &__title {
      margin-top: 31px;
      margin-bottom: 8px;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      text-align: center;
      color: #FD9F38;

      @media (max-width: 991.98px) {
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
        color: white;
      }

      @media (max-width: 575.98px) {
        margin-bottom: 4px;
      }
    }
    
    &__subtitle {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      padding: 0 19%;
      text-align: center;
      color: #FD9F38;

      @media (max-width: 991.98px) {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0;
        padding: 0;
        color: white;
      } 
    }
  }

  .schedule, .pediatrist, .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 26px 16px;
    border-radius: 8px;
    height: 100%;
    transition: all .5s ease;

    &:hover {
      transition-duration: .5s;
    }

    @media (max-width: 991.98px) {
      text-align: center;
    }

    @media (max-width: 575.98px) {
      padding: 16px 24px;
    }

    &__details {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      @media (max-width: 1199.98px) {
        display: none;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 4px;
    }

    &__subtitle {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 12px;

      @media (max-width: 1199.98px) {
        margin-bottom: 0;
      }
    }

    .details {
      position: relative;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin-right: 8px;
    }
    img {
      content: '';
      width: 6px;
      height: 11px;
    }
  }

  .schedule {
    border: 2px solid #3FBEAC;
    color: #3FBEAC;
    background: url('../img/whale.svg') 100% / contain no-repeat;

    img {
      background: url('../img/mini-arrow-green.svg') center no-repeat;
    }

    @media (max-width: 991.98px) {
      background-color: #3FBEAC;
      background-image: url('../img/whale-white.svg');

      * {
        color: white;
      }
    }

    &:hover {
      background-color: #3FBEAC;
      background-image: url('../img/whale-white.svg');

      * {
        color: white;
      }
      
      img {
        background: url('../img/mini-arrow-white.svg') center no-repeat;
      }
    }
  }
  .pediatrist {
    border: 2px solid #F9879F;
    color: #F9879F;
    background: url('../img/octopus.svg') 100% / contain no-repeat;

    img {
      background: url('../img/mini-arrow-pink.svg') center no-repeat;
    }

    @media (max-width: 991.98px) {
      background-color: #F9879F;
      background-image: url('../img/octopus-white.svg');

      * {
        color: white;
      }
    }

    &:hover {
      background-color: #F9879F;
      background-image: url('../img/octopus-white.svg');

      * {
        color: white;
      }

      img {
        background: url('../img/mini-arrow-white.svg') center no-repeat;
      }
    }
  }
  .services {
    border: 2px solid #1FB2E4;
    color: #1FB2E4;
    background: url('../img/dolphin.svg') 100% / contain no-repeat;

    img {
      background: url('../img/mini-arrow-blue.svg') center no-repeat;
    }

    @media (max-width: 991.98px) {
      background-color: #1FB2E4;
      background-image: url('../img/dolphin-white.svg');

      * {
        color: white;
      }
    }

    &:hover {
      background-color: #1FB2E4;
      background-image: url('../img/dolphin-white.svg');

      * {
        color: white;
      }

      img {
        background: url('../img/mini-arrow-white.svg') center no-repeat;
      }
    }
  }
}

// ----------------- specialists style
.specialists {
  margin-top: 48px;

  @media (max-width: 991.98px) {
    margin-top: 16px;
  }
  
  &__header {
    margin-bottom: 19px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #3d4044;
    pointer-events: none;
  
    a {
      color: #152536;
      
      &:hover {
        color: #152536;        
      }
    }

    @media (max-width: 991.98px) {
      pointer-events: auto;
      color: #3d4044;
      background-image: linear-gradient(#3d4044, #3d4044);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      transition: background-size .3s;
      &:hover {
        color: #3d4044;
        background-size: 100% 1px;
      }
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #3FBEAC;
    background-image: linear-gradient(#3FBEAC, #3FBEAC);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
    &:hover {
      color: #3FBEAC;
      background-size: 100% 1px;
    }

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;

    .slick-list {
      overflow: hidden;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      height: 64px;
      width: 64px;
      font-size: 0;
      border-radius: 50%;
      z-index: 100;
      background: rgba(84, 89, 94, 0.5);
      opacity: 0;
      transition: all 0.5s;
    }

    .slick-arrow.slick__banner-prev {
      left: -80px;
      transform: translate(50%, -50%);
    }
    .slick-arrow.slick__banner-next {
      right: -80px;
      transform: translate(-50%, -50%);
    }

    &:hover {
      .slick-arrow {
        opacity: 1;
      }
      .slick-arrow.slick__banner-prev {
        left: 0px;
      }
      .slick-arrow.slick__banner-next {
        right: 0px;
      }
    }
  }

  &__item {
    margin: 0 12px;
    height: 300px;
    width: 225px;

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }  
  }

  &__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 94px;
    padding: 10px;
    background: rgba(21, 37, 54, 0.5);
    border-radius: 8px;
    z-index: 40;
  }

  &__name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 4px;
    color: white;
  }

  &__post {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: white;
  }
}

//-------------- about styles
.about {
  padding-top: 48px;

  &__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #152536;
  }

  &__content {
    margin-top: 19px;
  }

  &__photo {
    overflow: hidden;
    border-radius: 8px;
    @media (max-width: 575.98px) {
    }
  }

  &__photo img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;

    @media (max-width: 991.98px) {
      height: 300px;
    }

    @media (max-width: 575.98px) {
      height: auto;
    }
    
  }

  &__text {
    @media (max-width: 991.98px) {
      margin-top: 20px;
    }
  }

  &__title, &__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #152536;

    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 15px;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-weight: normal;
  }

  @media (max-width: 991.98px) {
    padding-top: 32px;
  }
}

// ----------------headphys styles
.headphys {
  margin-top: 48px;
  padding: 64px 0;
  background-color: #FD9F38;

  &__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover; 
    }

    @media (max-width: 767.98px) {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #FFFFFF;

    @media (max-width: 575.98px) {
      margin-top: 16px;
      margin-bottom: 8px;
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 0;
    color: #FFFFFF;

    @media (max-width: 575.98px) {
      text-align: center;
      padding: 0 5px;
    }
  }

  &__button {
    margin-top: 32px;
    padding: 14px 36px;
    color: #BBA4E2;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
    background: white;
    text-align: center;
    transition: all .3s ease;

    &:hover {
      color: #BBA4E2;
      box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
      transition-duration: .3s;
    }

    @media (max-width: 767.98px) {
      font-size: 14px;
      line-height: 17px;
    }

    @media (max-width: 575.98px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 364px) {
      width: 200px;
      padding: 12px 36px;
      border-radius: 30px;
    }
  }

  @media (max-width: 575.98px) {
    padding: 32px 0;
  }
}

// ------------- healthlinks
.healthlinks {
  padding-top: 46px;
  padding-bottom: 30px;
  background: #E9ECEF;

  @media (max-width: 575.98px) {
    padding-top: 16px;
    padding-bottom: 0;
  }
  
  &__slider {
    position: relative;
    overflow: hidden;

    .slick-arrow {
      position: absolute;
      top: 50%;
      height: 64px;
      width: 64px;
      font-size: 0;
      border-radius: 50%;
      z-index: 100;
      background: rgba(84, 89, 94, 0.5);
      opacity: 0;
      transition: all 0.5s;
    }

    .slick-arrow.slick__banner-prev {
      left: -80px;
      transform: translate(50%, -50%);
    }

    .slick-arrow.slick__banner-next {
      right: -80px;
      transform: translate(-50%, -50%);
    }

    &:hover {
      .slick-arrow {
        opacity: 1;
      }
      .slick-arrow.slick__banner-prev {
        left: 0px;
      }
      .slick-arrow.slick__banner-next {
        right: 0px;
      }
    }
  }

  &__item {
    
    img {
      border-radius: 8px;
      max-width: 100%;
      overflow: hidden;
    }
  }
  .slick-slide {
    margin: 0 16px;

    @media (max-width: 575.98px) {
      margin: 0 8px;
    }
  }


  //------------ ministry styles
  .ministry {
    margin-top: 32px;
    margin-left: -15px;
    margin-right: -15px;
  
    &__link {
      position: relative;
      width: 160px;
      height: 160px;
      padding-left: 16px;
      padding-right: 16px;
      width: auto;
      transition: transform .3s;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: transform .3s;
      }

      @media (min-width: 992px) {
        &:hover {
          transform: scale(1.05);
        }
      }

      @media (max-width: 1199.98px) {
        padding-left: 8px;
        padding-right: 8px;
      }

      @media (max-width: 991.98px) {
        margin-bottom: 16px;
        height: 168px;
      }

      @media (max-width: 767.98px) {
        height: auto;
      }

      @media (max-width: 575.98px) {
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 8px;
      }
    }

    &__link-hover {
      position: absolute;
      top: 0;
    }

    @media (max-width: 991.98px) {
      margin-left: -8px;
      margin-right: -8px;
    }

    @media (max-width: 575.98px) {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

// ------------ footer
.footer {
  padding-top: 60px;
  padding-bottom: 116px;
  background: #E9ECEF;

  @media (max-width: 1199.98px) {
    padding-bottom: 64px;
  }

  @media (max-width: 575.98px) {
    padding-top: 32px;
  }

  &__map {
    display: flex;

    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  &__gbu-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #495057;
    margin-bottom: 32px;

    @media (max-width: 350px) {
      font-size: 15px;
    }
  }

  &__gbu-address, &__gbu-number, &__gbu-email {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #495057;
    &:hover {color: #495057;}
  }

  &__gbu-address {
    margin-bottom: 12px;
  }

  &__gbu-number {
    margin-bottom: 12px;
    
  }

  &__media {
    display: flex;
    margin-top: 32px;

    a:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__links {
    margin-right: 40px;
  }

  &__headlink {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #495057;
    margin-bottom: 16px;
  }

  &__headlink-services {
    margin-top: 48px;
  }

  &__p-link {
    margin-bottom: 12px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #495057;
    background-image: linear-gradient(#495057, #495057);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;

    &:hover {
      color: #495057;
      background-size: 100% 1px;
    }
  }
}





// =============================== all group styles
.main-titles {
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 30px;

  @media (max-width: 991.98px) {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
  }

  @media (max-width: 575.98px) {
    font-size: 27px;
    line-height: 33px;
  }
}
// ============== main-about
.page-about {
  padding-bottom: 128px;
  
  &__photo {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 48px;

    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
      border-radius: 8px;
  
      @media (max-width: 1199.98px) { height: 500px; }
  
      @media (max-width: 991.98px) { height: 300px; }
  
      @media (max-width: 575.98px) { height: auto; }
    }

    @media (max-width: 991.98px) {
      margin-bottom: 30px;
    }

    @media (max-width: 575.98px) {
      margin-bottom: 20px;
    }
  }

  &__subtitle, &__text {
    font-weight: 400; 
    font-size: 16px;
    line-height: 20px;
    color: #152536;

    @media (max-width: 575.98px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__subtitle {
    font-weight: bold;
  }

  @media (max-width: 991.98px) {
    padding-bottom: 64px;
  }
}

// ============== main-about
.page-structure {
  margin-bottom: 128px;

  @media (max-width: 1199.98px) {
    margin-bottom: 64px;
  }
}

.page-structure__block {
  margin-top: 12px;

  @media (max-width: 575.98px) {
    margin-top: 8px;
  }
}

.page-structure__xl, .page-structure__md, .page-structure__sm {
  width: 100%;
  height: auto;
}

.page-structure__xl {
  @media (max-width: 991.98px) {
    display: none;
  }
}

.page-structure__md {
  display: none;
  
  @media (max-width: 991.98px) {
    display: block;
    max-width: 510px;
  }

  @media (max-width: 575.98px) {
    display: none;
  }
}

.page-structure__sm {
  display: none;

  @media (max-width: 575.98px) {
    display: block;
    max-width: 280px;
  }
}

.page-headphys {
  padding-bottom: 64px;

  .container {
    display: flex;
    flex-direction: column;
  }

  &__photo {

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: 575.98px) {
        max-width: 300px;
      }
    }

    @media (max-width: 575.98px) {
      display: flex;
      justify-content: center;
    }
  }

  &__info {
    padding-left: 48px;

    @media (max-width: 991.98px) {
      padding-left: 20px;
    }

    @media (max-width: 767.98px) {
      padding-left: 15px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #152536;

    @media (max-width: 575.98px) {
      margin-top: 24px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__doctor {
    font-size: 16px;
    line-height: 19.5px;
    color: #68717A;
  }

  &__title {
    margin-top: 32px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: 991.98px) {
      margin-top: 24px;
    }
  }

  &__subtitle {
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    p {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  .page-headphys__second {
    width: 100%;
    align-self: center;

    @media (max-width: 575.98px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__schedule {
    margin-top: 64px;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  &__days {

    @media (max-width: 575.98px) {
      display: flex;

    }

    &-day {
      text-align: center;
      margin-bottom: 0;
      padding: 5px 16px 16px;
      border-bottom: 1px solid #CED4DA;
      border-right: 1px solid #CED4DA;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: black;

      @media (max-width: 575.98px) {
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
        text-align: start;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        padding-left: 5px;
      }
    }

    &-time {
      text-align: center;
      padding: 16px 16px 5px;
      border-right: 1px solid #CED4DA;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      @media (max-width: 767.98px) {
        padding: 16px 8px 5px;
      }

      @media (max-width: 575.98px) {
        width: 50%;
        text-align: start;
        border-right: none;
        border-bottom: 1px solid #CED4DA;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        align-items: center;
        padding-left: 20px;
      }
    }

    .day-desk {
      @media (max-width: 1199.98px) and (min-width: 576px) {
        display: none;
      }
    }

    .day-tablet {
      display: none;

      @media (max-width: 1199.98px) and (min-width: 576px) {
        display: block;
      }
    }
  }

  &__days:last-child .page-headphys__days-day,
  &__days:last-child .page-headphys__days-time {
    border-right: none;

    @media (max-width: 575.98px) {
      border-bottom: none;
    }
  }

  &__days:last-child .page-headphys__days-day {

    @media (max-width: 575.98px) {
      border-right: 1px solid #CED4DA;;
    }
  }

  &__apply-title {
    margin-top: 64px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
    color: #152536;
  }

  &__form {
    margin-top: 27px;

    &-name, &-email, &-text {
      border-radius: 8px;
      border: 1px solid #152536;
    }

    &-name {
      height: 36px;
    }

    &-email {
      margin-top: 24px;
      height: 36px;
    }

    &-text {
      margin-top: 24px;
      min-height: 160px;
      padding-top: 8px;
      padding-bottom: 8px;

      @media (max-width: 575.98px) {
        min-height: 180px;
      }
    }
  }

  &__consent {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 48px;

    a {
      color: #152536;
      text-decoration: underline;

      &:hover {
        color: #152536;
      }
    }
  }
}

.page-headphys-submit, .orange-button {
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 160px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: #FD9F38;
  border-radius: 8px;
  transition: all .2s ease;

  &:hover {
    color: white;
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2);
  }

  @media (max-width: 991.98px) {
    width: 152px;
  }
}

.page-licenses {
  padding-bottom: 128px;

  .container {
    display: flex;
    justify-content: center;
  }

  .row {
    max-width: calc(100% + 15px);
  }

  &__item {
    margin-bottom: 32px;
    background-color: transparent;

    @media (max-width: 767.98px) {
      padding: 0 8px;
      margin-bottom: 16px;
    }

    @media (max-width: 480px) {
      padding: 0 4px;
      margin-bottom: 8px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 1199.98px) {
    padding-bottom: 64px;
  }

  .modal-dialog {
    @media (max-width: 767.98px) {
      max-width: 360px;
    }

    @media (max-width: 575.98px) {
      max-width: 80%;
      margin: auto;
    }
  }

  .modal-content {
    padding: 12px;
    border-radius: 18px;

    @media (max-width: 575.98px) {
      padding: 8px;
      border-radius: 12px;
    }

    img {
      border-radius: 8px;
    }
  }

  .modal-body {
    padding: 0;

    .close {
      opacity: 1;
    }
  }

  .licenses-close {
    display: inline-block;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    background-image: url('../img/close-license.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

// ---------------page-documents
.page-documents {
  padding-bottom: 128px;

  @media (max-width: 1199.98px) {
    padding-bottom: 64px;
  }

  .row {
    display: flex;
    align-items: center;
    padding: 16px 0;
    background-image: linear-gradient(rgba(195, 198, 201, 0.5), rgba(195, 198, 201, 0.5));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: calc(100% - 32px) 1px;

    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .row:first-child {
    padding-top: 0;
  }

  .row:last-child {
    border-bottom: none;
    background-image: none;
  }

  &__doc-text {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: 575.98px) {
      padding-bottom: 16px;
    }
  }
}